# Python bytecode
__pycache__/

# Large model files
*.pth

# Virtual Environment
.venv/
venv/

# IDE configuration files
# Dependencies
node_modules/

# IDE configuration
.idea/
.vscode/

# User-generated content
uploads/